<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
    <script src="invoiceForm.js"></script>
    <script src="apiRates.js"></script>
    <style>
        body{
            margin: 0;
            width: 100vw;
            height: 100vh;
        }
        .container{
           position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            padding: 10px;
        }
    </style>
</head>
<body>
<div class="container" ng-app="invoice" ng-controller="invoiceCntr">
    <p><span id="title"><b>Invoice</b></span></p>
    <p><input type="number" id="quantity" ng-model="qty">Quantity</p>
    <p><input type="number" id="price" step="0.1" ng-model="prc">Price
        <select ng-model="curr">
        <option ng-repeat="(c,v) in cList">{{c}}</option>
    </select></p>
    <p><p ng-repeat="(c,v) in cList">Total: {{total(c)|number:2}} {{c}}, </p></p>
</div>
</body>
</html>